* {
    margin:0;
    padding: 0;
}
/* navigation bar  */
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(15, 61, 62);
    font-size: larger;
    font-family:'Times New Roman', Times, serif;
    position: relative;
}
nav img{
    width: 20%;
    padding: 12px 50px;
}
.navlinks{
    flex: 1;
    text-align: right;
    justify-content: flex-end;
    font-weight: bold;
}
.navlinks ul li{
    list-style: none;
    display: inline-block;
    padding: 12px 50px;
}
nav ul li a {
    color: rgb(226, 220, 200);
    text-decoration: none;
}
nav ul li a:hover{
    color: black;
}
/* end navigation bar */

/* main */
.form_overall .contact_container {
    display: flex;
    justify-content: center;
}

.form_row{
    display: flex;
    justify-content: space-between;
    margin: 30px 12px;
}
form{
    width: 80%;
}
.form_field ul {
    display: flex;
}
.form_field ul li {
    list-style: none;
    margin: 0px 5px;
}

#btn{
    display: flex;
    justify-content: center;
}
#btn input{
    padding: 10px 50px;
    margin: 0px 50px 0px 50px;
    border-radius: 10px;
    color: rgb(226, 220, 200);
    background: rgb(15, 61, 62);
}

@media screen and (max-width: 960px) {
    nav{
        flex-direction: column;
    }

    .navlinks ul li {
        display: block;
        text-align: center;
    }
    .form_overall{
        display: flex;
        flex-direction: column;
    }

}
