* {
    margin:0;
    padding: 0;
}
/* navigation bar  */
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(15, 61, 62);
    font-size: larger;
    font-family:'Times New Roman', Times, serif;
    position: relative;
}
nav img{
    width: 20%;
    padding: 12px 50px;
}
.navlinks{
    flex: 1;
    text-align: right;
    justify-content: flex-end;
    font-weight: bold;
}
.navlinks ul li{
    list-style: none;
    display: inline-block;
    padding: 12px 50px;
}
nav ul li a {
    color: rgb(226, 220, 200);
    text-decoration: none;
}
nav ul li a:hover{
    color: black;
}
/* end navigation bar */

/* main */
.comics, .foreignbooks{
    margin: 50px 50px;
}
h1{
    padding: 12px 50px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.comics_list, .foreignbooks_list{
    display: flex;
    text-align: center;
   
}
.comics_list img, .foreignbooks_list img{
    width: 50%;
    padding: 10px;
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    color:rgb(226, 220, 200);
}

@media screen and (max-width: 960px) {
    nav{
        flex-direction: column;
    }

    .navlinks ul li {
        display: block;
        text-align: center;
    }
    .comics_list{
        flex-direction: column;
    }
    .foreignbooks_list{
        flex-direction: column;
    }
}
